body {
    text-align: center;
    background: #00ff00;
    color: #073f07;
}

.status-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem;
}

.space {
    background: rgb(2, 67, 2);
    color: black;
    padding: 0.3rem;
    border-radius: 0.7rem;
    font-weight: bold;
    display: grid;
    place-items: center;
}

[data-category="maantieto"] {background: rgb(5, 252, 5);}
[data-category="yleistieto"] {background: rgb(3, 182, 253);}
[data-category="historia"] {background: rgb(242, 202, 2);}
[data-category="taide ja kulttuuri"] {background: rgb(184, 4, 249);}
[data-category="tiede"] {background: rgb(191, 242, 230);}
[data-category="urheilu"] {background: rgb(255, 157, 0);}

.board {
    background :#027002;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.game-header {
    background: green;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 10rem;
    color :#073f07;
}

.dice-panel,
.player-card {
    background:#109f10;
    border-radius: 1rem;
    padding: 1rem;
    color:#095809;
}

.player-image {
    width: 4rem;
}